{% extends 'base.html' %}

{% block title %}
Ubermelon Jobs Home Page
{% endblock %}

{% block body %}
    <div class="job-page-contents">
        <h1>So you want to join the Ubermelon team?</h1>
        <p>That's awesome! Here are the positions we're hiring for.</p>

        <!-- Show a list of all jobs currently open at Ubermelon. -->
        <div class="informative-text-box" id="job-list">
            <h3> Our Melon-tastic Career Opportunities </h3>
            <ul>
                {% for job in joblist %}
                <!-- Right now, job[1] = title and job[2] = description. At
                     some point, Flask code for this route should be refactored to
                     pass these to Jinja in a way that allows us to avoid accessing
                     by index in the HTML page. -->
                <li><b>{{ job[1] }}:</b> {{ job[2] }}</li>
                <br>
                {% endfor %}
            </ul>
        </div>
        
        <p>
            Think you see your calling in that list? <a href="/application-form">Head to our application now.</a>
        </p>
        <br>
        <p>
            <b>Attention white-hat hackers:</b> Keep an eye out for details on our bug bounty program! &#128030;
        </p>
    </div>
{% endblock %}